<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta  http-equiv="refresh" content="2"  >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="position:relative;" >

    <%- include("header") -%>
    
    <div class="container mt-5">
  
      
    <% username.forEach((user)=>{     %>   
    <div    style="box-shadow:7px 7px 10px rgba(0,0,0,0.3);"  class="card text-center mb-4   bg-light">
        <div class="card-header">
         <span>@</span><%=user.username%>
        </div>
        <div class="card-body">
          <h4 class="card-title"><em><%=user.posttitle%></em></h4>
          <p class="card-text"><span>"</span><%=user.postdesc%><span>"</span> </p>
   
          <button  class="btn btn-danger">Delete</button>

        </div>
        
      </div>
   <% })%>
    </div>
    <%- include("footer") -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script> -->
</body>
</html>